@page "/ThanhToandxn/{id}"
@rendermode InteractiveAuto
@inject NavigationManager navigation;
@attribute [Authorize]

<div class="container">
    <div class="left-panel">
        <div class="panel">
            <div class="panel-header">Thông Tin Khách Hàng</div>
            <div class="panel-body">
                <div>
                    <label>Họ Tên</label>
                    <input value="@user.Hoten" class="form-control" readonly>
                </div>
                <div>
                    <label>Ngày sinh</label>
                    <input value="@user.Ngaysinh.ToString("dd/MM/yyyy")" class="form-control" readonly>
                </div>
                <div>
                    <label>Số Điện Thoại</label>
                    <input value="@user.SDT" class="form-control" readonly>
                </div>
                <div>
                    <label>Địa Chỉ</label>
                    <input value="@user.Diachi" class="form-control" readonly>
                </div>
                <div>
                    <label>Email</label>
                    <input value="@user.Email" class="form-control" readonly>
                </div>
                <div>
                    <label>Giới Tính</label>
                    <input value="@gioitinh(user.Gioitinh)" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-header">Các Gói Đã Đăng Ký</div>
            <div class="panel-body">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Id đơn
                            </th>
                            <th>
                                Tên người dùng
                            </th>
                            <th>
                                Số Tiền
                            </th>
                        </tr>
                    </thead>
                    @foreach (var goi in AllHD)
                    {
                        <tr>
                            <td><a href="XCTDon/@goi.id">@goi.id</a></td>
                            <td>@goi.hoten</td>
                            <td>@goi.sotien</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="3">Tổng Thành Tiền : @tongtien VND</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <div class="panel">
            <div class="panel-header">Chọn Hình Thức Thanh Toán</div>
            <div class="panel-body">
                <div class="panel-body payment-content">
                    <img src="logo.jpg" alt="QR Code" class="qr-code">
                    <div class="payment-info">
                        <div>
                            Cảm ơn quý khách đã đặt lịch. Để xác nhận dịch vụ xét nghiệm, chúng tôi xin quý khách vui lòng thanh toán trước 30% hoặc toàn bộ giá trị của dịch vụ. Xin chân thành cảm ơn!
                        </div>
                        <!-- Bạn có thể thêm các phần khác tùy ý ở đây -->
                    </div>
                    <div class="payment-methods">
                        Chọn Hình Thức Thanh Toán Trước:
                        <div>
                            <button @onclick="bamuoi" class="@class1">30%</button>
                            <button @onclick="mottram" class="@class2">100%</button>
                        </div>
                    </div>
                    <div class="payment-amount">
                        <div>Số Tiền Cần Chuyển: @tientttruoc VND</div>
                        <!-- Bạn có thể thêm các phần khác tùy ý ở đây -->
                    </div>
                </div>
                <button @onclick="xacnhan" class="btn btn-success" style="width:100%">Thanh toán</button>
            </div>
        </div>
        <div class="panel">
            <div class="panel-header">Hướng Dẫn Thanh Toán</div>
            <div class="panel-body">
                <!-- Thêm hướng dẫn thanh toán -->
                <div>
                    <div class="section-title">Bước 1: Truy cập app ngân hàng bạn đang sử dụng hoặc bất kỳ ví điện tử mà bạn có, chọn chức năng quét mã QR:(Minh họa:app ViettinBank Ipay)</div>
                    <img style="width:100%" src="HD1.jpg" alt="Hướng dẫn bước 1">
                </div>
                <div>
                    <div class="section-title">Bước 2: Nhập số tiền cần chuyển và nội dung chuyển tiền chính xác để thực hiện thanh toán</div>
                    <img style="width:100%" src="HD2.jpg" alt="Hướng dẫn bước 2">
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string id { get; set; }

    [Inject]
    protected AuthenticationStateProvider AuthenticationStateProvider { get; set; }
    public string UserName { get; set; }
    private User user = new User();
    public DonXetNghiem Input { get; set; } = new();
    public List<User> alluser { get; set; } = new();
    public List<DXNandGXN> dxn { get; set; } = new();
    public long tongtien = 0;
    public long tientttruoc;
    string class1 = "btn btn-success";
    string class2 = "btn btn-outline-success";
    public List<DonXetNghiem> AllDXN { get; set; } = new();
    public List<ThanhToan> AllTT { get; set; } = new();
    public List<hd> AllHD { get; set; } = new();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await keolen();
        }
    }
    public async Task keolen()
    {
        await JSRuntime.InvokeVoidAsync("scrollToBottom");
    }
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        UserName = authState.User.Identity.Name;
        user = await Usertservice.getuserbyemail(UserName);
        alluser = await Usertservice.getalluserbyemailAsync(UserName);
        if (!string.IsNullOrEmpty(id))
        {
            string[] numbers = id.Split(';');
            foreach (string number in numbers)
            {
                if (!string.IsNullOrEmpty(number))
                {
                    if (int.TryParse(number, out int a))
                    {
                        var dxn = await DXNservice.getbyid(a);
                        AllDXN.Add(dxn);
                    }
                    else
                    {
                        // Handle the case where the string is not a valid integer
                        // For example, log the error or show a message to the user
                    }
                }
            }
        }
        await loadtongtien();
        tientttruoc = tongtien * 30 / 100;

    }
    private async void xacnhan()
    {
        foreach (var tt in AllTT)
        {
            tt.NgayTT1 = DateTime.Now;
            if (tientttruoc < tongtien)
            {
                tt.trangthai = "30%";
                Tinhtrang ttrang = new Tinhtrang
                    {
                        DonXetNghiemId = tt.DonXetNghiemId,
                        thoigian = DateTime.Now,
                        trangthai = "Đơn đã được thanh toán 30% (" + tt.Tongtien * 30 / 100 + " VND)"
                    };
                await TTrangservice.addAsync(ttrang);
            }
            else
            {
                tt.trangthai = "Đã Thanh Toán";
                Tinhtrang ttrang = new Tinhtrang
                    {
                        DonXetNghiemId = tt.DonXetNghiemId,
                        thoigian = DateTime.Now,
                        trangthai = "Đơn đã được thanh toán toàn bộ(" + tt.Tongtien + " VND)"
                    };
                await TTrangservice.addAsync(ttrang);
            }
            tt.DaTT1 = tientttruoc;
            await TTservice.updateAsync(tt);
        }
        btnPay_Click();
        navigation.NavigateTo(a);
    }
    private async Task loadtongtien()
    {
        foreach (var dxn in AllDXN)
        {
            var tt = await TTservice.getbyidDXNAsync(dxn.Id);
            tongtien += tt.Tongtien;
            AllTT.Add(tt);
            foreach (var us in alluser)
            {
                if (dxn.UserId == us.Id)
                {
                    hd a = new()
                        {
                            id = dxn.Id,
                            hoten = us.Hoten,
                            sotien = tt.Tongtien
                        };
                    AllHD.Add(a);
                }
            }
        }
    }
    private void bamuoi()
    {
        tientttruoc = tongtien * 30 / 100;
        class1 = "btn btn-success";
        class2 = "btn btn-outline-success";
    }
    private void mottram()
    {
        tientttruoc = tongtien;
        class2 = "btn btn-success";
        class1 = "btn btn-outline-success";
    }
    private String gioitinh(bool a)
    {
        if (a)
        {
            return "Nam";
        }
        else
        {
            return "Nữ";
        }
    }
    public class hd
    {
        public int id { get; set; }
        public long sotien { get; set; }
        public string hoten { get; set; }
    }
    string a = "", b = "192.168.1.34";
    public class OrderInfo
    {
        public long OrderId { get; set; }
        public long Amount { get; set; }
        public string OrderDesc { get; set; }
        public DateTime CreatedDate { get; set; }
        public string Status { get; set; }
        public long PaymentTranId { get; set; }
        public string BankCode { get; set; }
        public string PayStatus { get; set; }
    }

    protected void btnPay_Click()
    {
        try
        {
            // Get Config Info

            string vnp_Returnurl = navigation.BaseUri+ "camondxn/" + id; // URL nhan ket qua tra ve
            string vnp_Url = "https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"; // URL thanh toan cua VNPAY
            string vnp_TmnCode = "CAX6LFP5"; // Ma định danh merchant kết nối (Terminal Id)
            string vnp_HashSecret = "AI4J5VFN5YY97S6V5U13W412N5JATXKX"; // Secret Key

            // Get payment input
            OrderInfo order = new OrderInfo
                {
                    OrderId = DateTime.Now.Ticks, // Giả lập mã giao dịch hệ thống merchant gửi sang VNPAY
                    Amount = tientttruoc, // Giả lập số tiền thanh toán hệ thống merchant gửi sang VNPAY 100,000 VND
                    Status = "0", // Trạng thái thanh toán "chờ thanh toán"
                    CreatedDate = DateTime.Now
                };

            // Save order to db (optional)

            // Build URL for VNPAY
            VnPayLibrary vnpay = new VnPayLibrary();

            vnpay.AddRequestData("vnp_Version", VnPayLibrary.VERSION);
            vnpay.AddRequestData("vnp_Command", "pay");
            vnpay.AddRequestData("vnp_TmnCode", vnp_TmnCode);
            vnpay.AddRequestData("vnp_Amount", (order.Amount * 100).ToString());
            vnpay.AddRequestData("vnp_BankCode", "VNBANK");
            vnpay.AddRequestData("vnp_CreateDate", order.CreatedDate.ToString("yyyyMMddHHmmss"));
            vnpay.AddRequestData("vnp_CurrCode", "VND");
            vnpay.AddRequestData("vnp_IpAddr", b);
            vnpay.AddRequestData("vnp_Locale", "vn");
            vnpay.AddRequestData("vnp_OrderInfo", "Thanh toan don hang:" + order.OrderId);
            vnpay.AddRequestData("vnp_OrderType", "other"); // default value: other
            vnpay.AddRequestData("vnp_ReturnUrl", vnp_Returnurl);
            vnpay.AddRequestData("vnp_TxnRef", order.OrderId.ToString());

            // Add Params of 2.1.0 Version (optional)
            // Billing

            string paymentUrl = vnpay.CreateRequestUrl(vnp_Url, vnp_HashSecret);
            a = paymentUrl;
        }
        catch (Exception ex)
        {

        }

    }
}
<script>
    function copyText() {
        // Lấy nội dung của textbox
        var idTextbox = document.getElementById("idTextbox");
        var id = idTextbox.value;

        // Sao chép nội dung vào clipboard
        navigator.clipboard.writeText(id).then(function () {
            // Hiển thị thông báo đã sao chép thành công
            var copiedContent = document.getElementById("copiedContent");
            copiedContent.textContent = "Đã sao chép: " + id;
        }, function (err) {
            console.error('Không thể sao chép: ', err);
        });
    }
</script>
<script>
    window.scrollToBottom = () => {
        window.scrollTo(0, 0);
    }
</script>