@page "/ChiTietGoiXetNghiem/{id:int}"
@rendermode InteractiveAuto

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chọn người thân</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @if (err != "")
                {
                    <div class="alert alert-danger">@err</div> <br>
                }
                <InputSelect ValueChanged="@((int value)=>layuser(value))" ValueExpression="@(()=>iduser)" Value="iduser" class="form-control" id="userid">
                    <option value="0">Chọn người thân</option>
                    @foreach (var use in alluser.Skip(1))
                    {
                        <option value="@use.Id">@use.Hoten</option>
                    }
                </InputSelect>
                <h2>Thông tin bệnh nhân</h2>
                @if (user != null)
                {
                    <div class="info">
                        <p style="color:black" class="text-left"><strong>Họ tên:</strong> @user.Hoten</p>
                        <p style="color:black" class="text-left"><strong>Ngày sinh:</strong> @user.Ngaysinh.ToString("dd/MM/yyyy")</p>
                        <p style="color:black" class="text-left"><strong>Số điện thoại:</strong> @user.SDT</p>
                        <p style="color:black" class="text-left"><strong>Địa chỉ:</strong> @user.Diachi, @user.CapXa, @user.CapHuyen, TT Huế</p>
                        <p style="color:black" class="text-left"><strong>Email:</strong> @user.Email</p>
                        <p style="color:black" class="text-left"><strong>Giới tính:</strong> @gioitinh(@user.Gioitinh)</p>

                    </div>

                }
                <a href="/adduser" style="width:100%;color:black" class="btn btn-info">Thêm thông tin người thân</a>
                <br>
                <br>
                <a @onclick="add" style="width:100%;color:black" class="btn btn-primary p-2">Đặt lịch</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="container d-flex align-items-center justify-content-center" style="margin-bottom:25rem;">
    <div class="card-body overlay">
        <div class="package-container">
            <div class="package-item">
                <div class="package-item-photo" style="position: relative;">
                    <img src="https://cdn.medon.vn/images/2023/04/27/4a89c892-783a-4625-9481-471504f4b2d0.png" alt="Package Photo">
                    <div class="package-item-price" style="position: absolute; top: 0; left: 0; background-color: #4da5ff; color: #fff; padding: 5px;">
                        @string.Format("{0:#,##0}", Convert.ToDecimal(@gxn.Gia))
                        VND
                    </div>
                </div>
                <div class="package-item-detail">
                    <h3 class="package-item-title">@gxn.TenGoi</h3>
                    <div class="package-item-meta">
                        <div class="package-item-gender">
                            Thời gian : @gxn.ThoiGian
                        </div>
                        <div class="alert alert-info" style="display: flex; justify-content: space-between;">
                            <a class="custom-link" @onclick="@(() => themgio(id,1))">
                                <span><i class="fas fa-circle circle-icon"></i> Đặt lịch bản thân</span>
                            </a>
                            @if (UserName != null)
                            {
                                <a class="custom-link" @onclick="@(() => themgio(id,2))" data-toggle="modal" data-target="#myModal">
                                    <span><i class="fas fa-circle circle-icon"></i>Đặt lịch người thân</span>
                                </a>
                            }
                            else
                            {
                                <a class="custom-link" @onclick="@(() => themgio(id,2))">
                                    <span><i class="fas fa-circle circle-icon"></i>Đặt lịch người thân</span>
                                </a>
                            }
                            <a class="custom-link" @onclick="@(() => themgio(id,3))">
                                <span><i class="fas fa-circle circle-icon"></i>Liên hệ tư vấn</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="package-details-description">
    <div class="row">
        <div class="col-md-6">
            <h2 style="font-size: 30px;">Thông tin chỉ số gói khám</h2>
            <div class="information">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Tên
                            </th>
                            <th>
                                CSBT
                            </th>
                            <th>
                                Đơn vị
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var csa in allchiso)
                        {
                            <tr>
                                <td>
                                    @csa.ten
                                </td>
                                <td>
                                    @csa.CSBT
                                </td>
                                <td>
                                    @csa.DonVi
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <h2 style="font-size: 30px;">Mô tả thông tin</h2>
            <hr />
            <strong>
                @gxn.Mota
            </strong>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public int id { get; set; }
    [Inject]
    protected AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    [SupplyParameterFromForm]
    public int Inputkq { get; set; } = new();

    public string UserName { get; set; }
    public User user { get; set; } = new();
    public User user1 { get; set; } = new();
    private GoiXetNghiem gxn = new GoiXetNghiem();
    public List<Chiso> allchiso { get; set; } = new();
    public List<GXNandCS> cs { get; set; } = new();
    public List<User> alluser { get; set; } = new();
    int iduser = 0, goiint = 0;
    string err = "";
    protected override async Task OnInitializedAsync()
    {
        gxn = await GXNservice.getbyid(id);
        cs = await GXNservice.getallCSbyidAsync(id);
        var kk = await CSservice.getallAsync();
        foreach (var s in kk)
        {
            foreach (var m in cs)
            {
                if (s.Id == m.ChisoId)
                {
                    allchiso.Add(s);
                }
            }
        }
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        UserName = authState.User.Identity.Name;
        if (UserName != null)
        {
            alluser = await Usertservice.getalluserbyemailAsync(UserName);
            user1 = await Usertservice.getuserbyemail(UserName);
        }
        user = alluser.FirstOrDefault(p => p.Id == Inputkq);
    }
    private async Task add()
    {
        err = "";
        if (iduser == 0)
        {
            err = "Vui lòng chọn người thân";
            return;
        }
        navigation.NavigateTo("/datlichNTid/" + iduser + ";" + goiint);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            keolen();
        }
    }
    public async Task themgio(int id, int haha)
    {
        if (UserName == null)
        {
            navigation.NavigateTo("/Account/Login");
            return;
        }
        if (user1 == null)
        {
            navigation.NavigateTo("/AddUser");
            return;
        }

        if (haha == 1)
        {
            navigation.NavigateTo("/datlichid/" + id);
        }
        if (haha == 2)
        {
            goiint = id;
        }
        if (haha == 3)
        {
            var us = await Usertservice.getuserbyemail(UserName);
            var allroom = await Roomchatservice.getallbyidAsync(us.Id);
            string name = "Tư Vấn Gói :" + id;
            var rooms = allroom.FirstOrDefault(a => a.Name == name);
            if (rooms == null)
            {
                roomchat room = new()
                    {
                        Name = "Tư Vấn Gói :" + id,
                        userid = us.Id,
                        ngaytao = DateTime.Now
                    };
                var ro = await Roomchatservice.addAsync(room);
                Chat ha = new()
                    {
                        data = "Tôi cần hỗ trợ cho gói: " + id,
                        roomchatid = ro.Id,
                        thoigian = DateTime.Now,
                        trangthai = 1,
                        userid = us.Id
                    };
                await Chatservice.addAsync(ha);
                navigation.NavigateTo("/Chat/" + ro.Id);
            }
            else
            {
                navigation.NavigateTo("/Chat/" + rooms.Id);
            }
        }
    }
    public async Task keolen()
    {
        await JSRuntime.InvokeVoidAsync("scrollToBottom");
    }
    private void layuser(int id)
    {
        iduser = id;
        user = alluser.FirstOrDefault(p => p.Id == id);
    }
    private String gioitinh(bool a)
    {
        if (a)
        {
            return "Nam";
        }
        else
        {
            return "Nữ";
        }
    }
}
<script>
    window.scrollToBottom = () => {
        window.scrollTo(0, 0);
    }
</script>
